/* Center text on urlbar */
#urlbar #urlbar-input { text-align: center !important;}

/* Modifies the urlbar text color based on connection type - "normal" https: won't be mdofied */
/* Mixed content including neterror */
#identity-box[pageproxystate="valid"].unknownIdentity ~ .urlbar-input-box{ color: orange }
/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].notSecure ~ .urlbar-input-box{ color: orangered }
/* Extension pages */
#identity-box[pageproxystate="valid"].extensionPage ~ .urlbar-input-box{ color: violet }
/* Internal about: and chrome:// urls (includes reader-view) */
#identity-box[pageproxystate="valid"].localResource ~ .urlbar-input-box,
#identity-box[pageproxystate="valid"].chromeUI ~ .urlbar-input-box{ color: dodgerblue }

/* Draws a border around urlbar using the color of the current container. */
#urlbar:not([open]) > #urlbar-input-container{
  border-width: 0 !important;
  padding: 2px !important;
}
#userContext-icons::before{
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--identity-icon-color);
  border-radius: var(--toolbarbutton-border-radius);
  outline-offset: -1px;
  pointer-events: none;
}
#urlbar[focused] #userContext-icons::before{
  outline-width: 2px;
  outline-offset: -2px
}
/* These might potentially cause some issues, but are needed to make the border extend the border to the full popup when urlabar popup is open */
#urlbar[open] > #urlbar-input-container{ position: static !important; }
#urlbar[open] > #urlbar-background{ z-index: -1 !important; }
